@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
:root{
    --ticHeight: 400px;
    --ticWidth: 200px;
    --ticborder: 5px solid rgb(117, 117, 117);
}
body{
    margin: 0px;
}
.container{
    font-family: 'roboto',Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-weight: bold;
 
}
.header{
    display: flex;
    justify-content: center;
    height: 100px;
    box-shadow: 0.3em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  width: 100vw;
}
/* row above tic tac toe area */
.gamestats{
    height: 60px;
    padding: 5px;
    display: flex;
    flex-direction: row;
  
}
/* tictac toe game area */
.body{
    
    display: flex;
    min-height: 550px;

}
.flexrow{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: row;
}

.col{
  
    display: grid;
    height: var(--ticHeight);
    width: var(--ticWidth);
}

.rowleft,.rowright{
    border: var(--ticborder);
    border-left: none;
    border-right: none;
   
}

.rowmiddle,.rowmiddleb{
    border: var(--ticborder);
 
    
}
.rowmiddleb{
    border-top: none;;
    border-bottom: none;;
}


button{
    border: none;
    position: relative;
    min-height: 180px;
}
 .clicked{
    display: grid;
    font-size: 10rem;
 
   
}

/* buttons below tic tac toe */
 .restart, .vsAI, .vsHuman{
    border-radius: 10px;
    height: 50px;
    margin: 10px;
    border: 1px solid rgb(255, 147, 147);;
    background-color: rgb(255, 147, 147);
    font-weight: bold;
    font-size: large;
}

p.player{
   background-color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    height: min-content;
  width: max-content;
}

p.active{
    box-shadow: 0.3em 0.2em 0.5em rgba(255, 124, 124, 0.8);
    border-top: none;;
}


p.winnertext{
    margin: 2px;
    padding: 0px;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 50vh;
    background-color: rgb(197, 234, 255);
  
    font-size: 3.5rem;
   
}

p.result{
  padding: 10px;
  box-shadow: 0.3em 0.2em 0.5em rgba(0, 0, 0, 0.8);
  border: 2px solid rgb(0, 0, 0);
}

.lowerbody{
    display: flex;
    flex-direction: row;
    flex: 1;
}


/* footer */

a.git{
  
 
    vertical-align:middle;
    color: white;
    font-size: 30px;
  
}

.empty{
    min-height: 70px;
}
.foot{
    display: flex;  
    
    width: 100vw;
   
    background-color: rgb(71, 71, 71);
    
    justify-content: center;
    padding: 10px;

}

footer{

}